*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: #972d2d;
}


.mundo{
    position: relative;
    right: -30vw;
    top:20vh;
    width: 40vw;
    height: 80vh;
    background-color: black;
    
}


.janela{
    position: relative;
    width: 30vw;
    height: 70vh;
    top:8vh;
    right:-5vw;
    border-left: solid 9vw transparent;
    border-right: solid 9vw transparent; 
    border-bottom:solid 40vh ;
    background-image: linear-gradient(180deg, #ffc222, #00BFFF, #020d3f);
    background-color: #7cfc00;
}

.listras{
    position:absolute;
    top:33vh;
    right: -5vw;
    border-left: dashed 1vw white;
    border-right: solid 10vw transparent;
    border-top: solid 37vh transparent; 
    
}

.linha{
    position: absolute;
    top:30vh;
    right:-122px;
    border-bottom: solid 1px #303030;
    width: 30vw;
}


.tunel{
    opacity: 12;
    position: absolute;
    top:5vh;
    width: 12vw;
    height: 25vh;
    border-radius: 100px 100px 0 0;
    background-color: #303030;

}